HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
scratch/print_payloads_manager_v2.py
post_api_payloads.log
scratch/employee_api_test_req_resp.txt
scratch/print_payloads_manager.py
scratch/print_payloads_notifications.py
scratch/verification_results.md
scratch/verify_employee_details_apis.py
scratch/verify_manager_dashboard_v2.py
scratch/verify_manager_dashboard.py
